*.iml
.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/vcs.xml
.idea/**/assetWizardSettings.xml
.idea/**/navEditor.xml
.idea/**/modules.xml

local.properties
*.jks
*.keystore

/build/
.cxx/
.externalNativeBuild/
.gradle/

.DS_Store
Thumbs.db

/captures
*.log
