# Android Studio files
/.idea/
/*.iml
/local.properties

# Gradle files
.gradle/
/build/
/*/build/

# System files
.DS_Store
Thumbs.db

# Android specific
*.apk
*.ap_
*.dex
*.class
*.jar
*.war

# Temporary files
/tmp/
/caches/

# Untracked directories
/native/
/wrapper/
